# =========================
# Ports
# =========================
OPENWEBUI_PORT=3000
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_HOST=qdrant
LANGGRAPH_PORT=8000
LANGGRAPH_DEBUG_PORT=5678
QUARKUS_APP_PORT=8085

# =========================
# Host Directories
# =========================
LANGGRAPH_DIR=./langgraph
QUARKUS_APP_DIR=./target/quarkus-app
QUARKUS_INGEST_DIR=./ingest

OPENWEBUI_DATA_DIR=./data/openwebui
QDRANT_DATA_DIR=./data/qdrant

# =========================
# Network
# =========================
RAG_NETWORK=rag-network